.App {
  text-align: center;
  background-color: #dddddd;
  margin: 20px;
  padding: 20px;
}

.navMain{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mainDiv{
  display:flex;
  justify-content: space-between;
}

